@model Upormium.DomainModel.ApplicationClasses.Accounts.LoginViewModel

<div class="inline-side">
    <div class="left-side"></div>
    <div class="right-side" id="login">
        <div class="custom-md-container center space-evenly">
            <h4 class="heading ml-10">Login</h4>
            <form class="space-evenly" asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" autocomplete="off">
                @if (ViewBag.Error != null)
                {
                    <div class="danger-text">@ViewBag.Error</div>

                }
                <div class="inputbox">
                    <label for="email">Email<em class="danger-text">*</em></label>
                    <input type="text" name="Email" id="email" />
                </div>
                <div class="danger-text ml-20">@Html.ValidationMessageFor(m => m.Email)</div>
                <div class="inputbox">
                    <label for="email">Password<em class="danger-text">*</em></label>
                    <input type="text" name="Password" id="password" />
                </div>
                <div class="danger-text ml-20">@Html.ValidationMessageFor(m => m.Password)</div>
                <div class="login-page-buttons">
                    <button class="primary-button mt-10 mr-10 ml-10" type="submit">
                        Log In
                    </button>
                    <a class="primary-anchor login-button"
                       asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]"><u>Register</u></a>
                </div>
            </form>
        </div>
    </div>
</div>